@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

.RatesBlock {
  padding: 100px 0;
}
.RatesBlock * img {
  width: 80%;
}
.RatesBlock * {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: #000000;
}
.RatesBlock * h5 {
  font-size: 26px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #000000;
}
.RatesBlock * p i {
  color: #000000a6;
}

.RatesBlock * p {
  color: #455b66;
  width: 89%;
  height: 100%;
}

.RatesBlock__body .RatesBlock-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0 20px;
}

.RatesBlock-section .RatesBlock-section__block {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 26%;
  gap: 15px 0;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 30px 30px;
}
.RatesBlock-section .block-black {
  background-color: #030b18;
}
.block-black span {
  color: white;
}
.block-black h5 {
  color: white;
}
.block-black p {
  color: #a8a8a8;
}
.block-black p i {
  color: #ffffff;
}
.RatesBlock-section__block button {
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 10px;
  padding: 15px 60px;
  color: white;
}

@media (min-width: 940px) and (max-width: 1300px) {
  .RatesBlock * img {
    width: 70%;
  }
}

@media (min-width: 710px) and (max-width: 940px) {
  .RatesBlock {
    padding: 20px 0;
  }
  .RatesBlock * img {
    width: 60%;
  }
  .RatesBlock * {
    font-size: 16px;
  }
  .RatesBlock * h5 {
    font-size: 24px;
  }
  .RatesBlock * p {
    color: #455b66;
    width: 95%;
    height: 100%;
  }

  .RatesBlock-section .RatesBlock-section__block {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 23%;
    padding: 20px 25px;
  }

  .RatesBlock-section__block button {
    margin-top: 10px;
    width: 100%;
    text-align: start;
    padding: 10px 0;
    text-align: center;
  }
}

@media (min-width: 410px) and (max-width: 710px) {
  .RatesBlock {
    padding: 20px 0;
  }
  .RatesBlock * img {
    width: 60%;
  }
  .RatesBlock * {
    font-size: 15px;
  }
  .RatesBlock * h5 {
    font-size: 22px;
  }
  .RatesBlock * p {
    color: #455b66;
    width: 95%;
    height: 100%;
  }
  .RatesBlock__body .RatesBlock-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px 0px;
  }
  .RatesBlock-section .RatesBlock-section__block {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: auto;
    padding: 25px 40px;
  }

  .RatesBlock-section__block button {
    margin-top: 10px;
    width: 60%;
    text-align: start;
    padding: 10px 0;
    text-align: center;
  }
}

@media (max-width: 410px) {
  .RatesBlock {
    padding: 20px 0;
  }
  .RatesBlock * img {
    width: 60%;
  }
  .RatesBlock * {
    font-size: 14px;
  }
  .RatesBlock * h5 {
    font-size: 20px;
  }
  .RatesBlock * p {
    color: #455b66;
    width: 100%;
    height: 100%;
  }
  .RatesBlock__body .RatesBlock-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px 0px;
  }
  .RatesBlock-section .RatesBlock-section__block {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: auto;
    padding: 25px 40px;
  }

  .RatesBlock-section__block button {
    margin-top: 10px;
    width: 60%;
    text-align: start;
    padding: 10px 0;
    text-align: center;
  }
}
