@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

.RatesBlock {
  padding: 100px 0;
}
.RatesBlock * img {
  width: 80%;
}
.RatesBlock * {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  color: #000000;
}
.RatesBlock * h5 {
  font-size: 26px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #000000;
}
.RatesBlock * p i {
  color: #000000a6;
}

.RatesBlock * p {
  color: #455b66;
  width: 89%;
  height: 100%;
}

.RatesBlock__body .RatesBlock-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0 20px;
}

.RatesBlock-section .RatesBlock-section__block {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 26%;
  gap: 15px 0;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 30px 30px;
}
.RatesBlock-section .block-black {
  background-color: #030b18;
}
.block-black span {
  color: white;
}
.block-black h5 {
  color: white;
}
.block-black p {
  color: #a8a8a8;
}
.block-black p i {
  color: #ffffff;
}
.RatesBlock-section__block button {
  margin-top: 10px;
  padding: 15px 60px;
  color: white;
}
