@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

.securityblock {
  background-color: #030b18;
  border-radius: 30px;
}

.container-securityblock {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;
}
.securityblock-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  gap: 15px;
}

.icon-project img {
  width: 80px;
}

.title-security {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 36px;
}
.description-security {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 26px;
}

.patern-security {
  margin: 30px 0;
}
.patern-security img {
  width: 40%;
}

@media (min-width: 940px) and (max-width: 1300px) {
  .container-securityblock {
    padding: 50px 0;
  }

  .securityblock-body {
    width: 65%;
  }
}
@media (min-width: 710px) and (max-width: 940px) {
  .securityblock-body {
    width: 75%;
  }

  .description-security {
    font-size: 24px;
  }
}

@media (min-width: 410px) and (max-width: 710px) {
  .securityblock-body {
    width: 85%;
  }
  .title-security {
    font-size: 22px;
  }
  .description-security {
    font-size: 16px;
  }
}

@media (max-width: 410px) {
  .securityblock-body {
    width: 88%;
  }
  .title-security {
    font-size: 20px;
  }
  .description-security {
    font-size: 15px;
  }
}
