.productsInfo {
  margin: 0 0 70px 0;
}

.productsInfo * h4 {
  font-size: 26px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: -0.5299999713897705px;
  text-align: left;
  color: #000000;
  font-family: "Inter", sans-serif;
}

.productsInfo * span {
  color: #455b66;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: -0.33000001311302185px;
  text-align: left;
}

.productsInfo-blocks {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}

.productsInfo-block {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px 30px;
}

@media (min-width: 940px) and (max-width: 1300px) {
  .productsInfo-blocks {
    width: 80%;
  }
}

@media (min-width: 710px) and (max-width: 940px) {
  .productsInfo * h4 {
    font-size: 24px;
  }
  .productsInfo-blocks {
    width: 100%;
  }
  .productsInfo * span {
    font-size: 18px;
  }
}

@media (min-width: 410px) and (max-width: 710px) {
  .productsInfo * h4 {
    font-size: 22px;
  }
  .productsInfo-blocks {
    width: 100%;
  }
  .productsInfo * span {
    font-size: 16px;
  }
  .productsInfo {
    margin: 0 0 50px 0;
  }
}

@media (max-width: 410px) {
  .productsInfo * h4 {
    font-size: 20px;
  }
  .productsInfo-blocks {
    gap: 12px;
    width: 100%;
  }
  .productsInfo * span {
    font-size: 14px;
  }
  .productsInfo {
    margin: 0 0 50px 0;
  }
  .productsInfo-block {
    gap: 10px;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 20px 15px;
  }
}
