.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.navbar .nav-menu {
  display: flex;
  flex-direction: row;
  width: 70%;
  gap: 0 5%;
  list-style-type: none;
}

.navbar .nav-menu a {
  text-decoration: none;
  color: #666;
}
