@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
.nav {
  margin-top: 78px;
}
.navbarblock {
  background-color: #ffffff;
  position: fixed; /* Фиксировать navbar сверху */
  top: 0; /* Позиционировать navbar по верхнему краю */
  width: 100%; /* Занимать всю ширину экрана */
  /* background-color: rgba(0, 0, 0, 0.8); */
  transition: background-color 200ms ease;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.navbar .nav-menu {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-around;
  list-style-type: none;
}

.navbar .nav-menu a {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: #666;
}
.navbar .nav-menu a:hover {
  color: #1b72ff;
  border-bottom: 2px solid #1b72ff;
  padding: 0 0 2px 0;
}
.nav-btn {
  max-width: 160px;
}

.nav-btn .btn {
  padding: 10px 35px;
}

.active {
  color: #1b72ff !important;
  border-bottom: 2px solid #1b72ff;
  padding: 0 0 2px 0;
}
.navbarblock.scroll {
  background-color: #030b18e7;
}
.navbarblock.scroll * a {
  color: white;
}

/*  */

.container-phone {
  max-width: 1050px;
  width: 100%;
  margin: auto;
}

.navbar-phone {
  display: none;
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  background-color: #ffffff;
  position: fixed; /* Фиксировать navbar сверху */
  top: 0; /* Позиционировать navbar по верхнему краю */
  /* background-color: rgba(0, 0, 0, 0.8); */
  transition: background-color 200ms ease;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar-phone .menu-items {
  display: flex;
}

.navbar-phone .nav-container li {
  list-style: none;
}

.navbar-phone .nav-container a {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar-phone .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar-phone .menu-items {
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  background-color: white;
}

.navbar-phone .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .nav-btn {
  display: none;
}
.nav-container input[type="checkbox"]:checked ~ .navbar-phone {
  position: relative;
}
/*  */

@media (min-width: 940px) and (max-width: 1300px) {
  .navbar .nav-menu {
    width: 75%;
  }
  .navbar .nav-menu a {
    font-size: 13px;
  }
  .nav-btn .btn {
    padding: 10px 35px;
  }
}

@media (min-width: 710px) and (max-width: 940px) {
  .navbar .nav-menu {
    width: 78%;
  }
  .navbar .nav-menu a {
    font-size: 12px;
  }
  .nav-btn .btn {
    padding: 10px 25px;
  }
}

@media (max-width: 710px) {
  .navbarblock {
    display: none;
  }
  .navbar-phone {
    display: block;
  }

  .nav-btn {
    position: absolute;
    top: 11px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
  }
  .nav {
    margin-top: 30px;
  }
}
