#root {
  background-color: rgba(246, 247, 248, 1);
}
* {
  margin: 0;
  padding: 0;
}

a:active, /* активная/посещенная ссылка */
a:hover,  /* при наведении */
a {
  text-decoration: none;
}

.container {
  padding: 0 100px;
}
